body {
    padding: 0;
    margin: 0;
    font-family: "Ovo", serif;
}

.secondary {
    margin: 160px 0 0 40px;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: #6C7A89;
}

.sd {
    font-family: "Muli", sans-serif;
    color: #BDC3C7;
    text-align: right;
    margin: 100px 150px 0 0;
}

.blue {
    color: #446CB3;
}

.red {
    color: #EF4836;
}

.fixed {
    position: fixed;
    left: 335px;
    bottom: 343px;
    margin-left: 15%;
}

.dwi {
    width: 190px;
    height: auto;
}

.footer {
    height: 500px;
    top: 2700px;
    position: relative;
    z-index: -5;
    margin-left: 15%;
}

@media only screen and (max-device-width: 768px) {
    .secondary {
        width: 90%;
        padding-top: 200px;
        text-align: center;
    }
}

@media only screen and (max-device-width: 450px) {
    .secondary {
        font-size: 2.5em;
    }
}